<div id="<%=style.autopager%>">
    <i class="<%=style.close%>"></i>
    <span>选择内容</span>
    <div class="<%=style.flex%> <%=style.content%>">
        <input type="text" value="<%= state.content %>"/>
        <span class="<%=style['flex-grow']%>"></span>                
        <span class="<%=style.select%>"></span>
    </div>
    <div class="<%=style.line%>"></div>
    <span>选择下一页</span>
    <div class="<%=style.flex%> <%=style.next%>">
        <input type="text" value="<%= state.next %>"/>
        <span class="<%=style['flex-grow']%>"></span>                
        <span class="<%=style.select%>"></span>
    </div>
    <div class="<%=style.error%>">下一页不是链接</div>
    <div style="width:1px; height:10px"></div>
    <div class="<%=style.flex%>" style="margin-bottom:-5px">
        <span class="<%=style['flex-grow']%>"></span>                
        <span class="<%=style['flex-grow']%>"></span>                
        <span class="<%=style['flex-grow']%>"></span>                
        <span class="<%=style['flex-grow']%>"></span>                                
        <button class="<%=style.cancel%> <%=style.btn%>">取消</button>
        <span class="<%=style['flex-grow']%>"></span>                
        <button class="<%=style.ok%> <%=style.btn%>">确定</button>
    </div>
</div>
